@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}


/* Color variables */

:root {
    --main: navy;
    --secondary: lightslategray;
    --bg: white;
}

/* About me box styling */

html {
}

body::-webkit-scrollbar {
    width: 0.7em;
    transition: 0.3s;
}
   
body::-webkit-scrollbar-track {
    color: var(--bg);
}
   
body::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 10px;
}

body {
    background-color: var(--bg);
    padding-top: 100px;
    font-family: "system", Arial, Helvetica, sans-serif;
    transition: 0.2s;
    padding-bottom: 100px;
}

.top-bar {
    background-color: var(--main);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-bar-title:hover {
    color: var(--secondary);
}

.top-bar-title {
    margin-left: 20px;
    color: var(--bg);
    font-size: 30px;
    text-decoration: none;
    transition: 0.1s;
}


.about-me {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.about-me-title {
    margin: 10px;
    padding: 0px;
    font-size: 40px;
}

.about-me-title-o {
    transition: 0.4s;
}

.about-me-title-prefix {
    color: var(--main);
}

.about-me-title-o-js {
    background-color: var(--main);
    color: var(--bg);
}

.about-me-subtitle {
    font-size: 25px;
    margin: 10px;
    padding: 0px;
}

.about-me-link {
    text-decoration: none;
    color: black;
    transition: 0.15s ease-in-out;
}

.about-me-link:hover {
    color: var(--main);
}

.about-me-image {
    border: 1px solid black;
    box-shadow: 6px 6px black;
    transition: 0.3s ease-in-out;
    width: 300px;
}

.about-me-image:hover {
    box-shadow: 6px 6px var(--main);
    border: 1px solid var(--main);
}

.about-me-list{
    width: 370px;
}

.about-me-list-container {
    transition: 0.2s ease-in-out;
}

.about-me-list-title {
    user-select: none;
    font-size: 30px;
    text-decoration: underline;
    padding: none;
    margin: 10px;
    background-color: rgba(0,0,128, 0.1);
    transition: ease-in-out 0.2s;
    padding-left: 3px;
}

.about-me-list-title:hover {
    color: var(--main);
}

.about-me-list-text {
    font-size: 20px;
    margin-left: 15px;
}

/* Project styles */

.project-title {
    margin-left: 15px;
    font-size: 25px;
    color: var(--main);
    margin-bottom: 2px;
    padding-bottom: 0px;
}

.project-desc {
    margin-top: 2px;
    padding-top: 0;
    font-size: 20px;
    margin-left: 15px;
}

.blog {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blog-posts {
    word-wrap: break-word;
    width: auto;
    max-width: 1000px;
    padding: 30px;
}

.blog-post-date {
    color: var(--main);
    margin-top: 0px;
    margin-bottom: 0px;
}

/* POST STYLES */

.post-title {
    font-size: 40px;
    padding: 10px;
    padding-left: 0px;
    margin: 0px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

.post-summary {
    font-size: 20px;
    padding: 0px;
    padding-left: 0px;
    margin: 0px;
    word-wrap: break-word;
}

.post-link {
    margin-top: 0px;
    padding-top: 0px;
    color: var(--main);
    font-size: 20px;
    transition: 0.2s;
}

.post-link:hover {
    color: black;
}


.temp {
    border: 3px solid pink;
}

.proj-links {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.project-link {
    margin-right: 20px;
    margin-left: 13px;
}

.project-list-link {
    transition: 0.2s;
    color: black;
}

.project-list-link:hover {
    color:  var(--main)
}



/* MISC STYLES */

.github-link {
    position: fixed;
    bottom: 15px;
    right: 20px;
    font-size: 60px;
    color: var(--secondary);
    transition: 0.3s ease-in-out;
}

.github-link:hover {
    color: var(--main);
    margin-bottom: 5px;
}

.linkedin-link {
    position: fixed;
    bottom: 15px;
    right: 190px;
    font-size: 60px;
    color: var(--secondary);
    transition: 0.3s ease-in-out;
}

.linkedin-link:hover {
    color: var(--main);
    margin-bottom: 5px;
}

.twitter-link {
    position: fixed;
    bottom: 15px;
    right: 100px;
    font-size: 60px;
    color: var(--secondary);
    transition: 0.3s ease-in-out;
}

.twitter-link:hover {
    color: var(--main);
    margin-bottom: 5px;
}

.contact-list {
    list-style-type: none;
    margin-left: 13px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    font-size: 20px;
}

.contact-list-item {
    margin-bottom: 5px;
}

@media only screen and (max-width: 1030px) {
    body {
        padding-top: 0px;
    }
    .top-bar {
        display: none;
    }
    .post-title {
        font-size: 30px;
    }
    .about-me-title {
        font-size: 30px;
    }
    .bottom-icons {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        left: 0;
        background-color:var(--main);
        display: flex;
    }
    .twitter-link {
        margin-left: 40px;
        position: static;
        color:  var(--bg);
        font-size: 40px;
    }
    .github-link {
        color: var(--bg);
        margin-right: 40px;
        position: static;
        font-size: 40px;
    }
    .linkedin-link {
        color: var(--bg);
        margin-right: 80px;
        position: static;
        font-size: 40px;
    }
    .linkedin-link:hover {
        color: var(--secondary);
    }
    .twitter-link:hover {
        color: var(--secondary);
    }
    .github-link:hover {
        color: var(--secondary);
    }
    
}
@media only screen and (max-width: 500px) {
    .post-title {
        font-size: 25px;
    }
    .twitter-link {
        font-size: 30px;
    }
    .github-link {
        font-size: 30px;
    }
    .linkedin-link {
        font-size: 30px;
    }
}
 