<!DOCTYPE html>
<html lang="fi">
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <title>Matias Järvenpää</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">
</head>
  <body>
    <div class="flexbox">
        <div class="info_container">
          <h1 class="header">{{range (where .Pages "Section" "info") }} <script>document.write({{ .Title }});</script> {{ end }}</h1>
          <p class="text"><img class="profilePic" src="/img/profile.png">{{range (where .Pages "Section" "info") }} <script>document.write({{ .Description }});</script> {{ end }}</p>
        </div>
        <a href="#scroll" class="arrow">↓</a>
      </div>
      <div class="flexbox3">
      <div id="scroll" class="project_container">
        <h1 class="header">Projekteja</h1>
        <div class="flexbox2">
          {{ range (where .Pages "Section" "projects") }}
          <div class="container2">
            <h2 class="header2"><script>document.write({{ .Title }});</script></h2>
            <p class="text"><script>document.write({{ .Description }});</script></p>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </body>
</html>
