<!DOCTYPE html>
<html lang="fi">
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <title>Matias Järvenpää</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
  <body>
    <div class="flexbox">
      <div class="container">
        <h1 class="header">Tietoa minusta</h1>
        <p class="text"><img class="profilePic" src="/img/profile.png">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    <!--  <div class="container">
        <h1 class="header">asdsad</h1>
      </div>
      <div class="container">
        <h1 class="header">asdasdsad</h1>
      </div> -->
    </div>
  </body>
</html>
