<!DOCTYPE html>
<html lang="fi">
    <head>
        <script defer src="https://kit.fontawesome.com/6b6cf24d2b.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="Description" content="Kotisivuni/Portfolioni/Blogini">
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <title>Tuomas Katajisto</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    </head>
    <body>
        <div class="top-bar">
            <a href="/" class="top-bar-title"><i class="fas fa-terminal"></i> Tuomas Katajisto</a>
        </div>
        <noscript>Please turn on JS for full page functionality</noscript>
        <div class="blog">
            <div class="about-me">
                <img class="about-me-image" alt="Kuva itsestäni" src="../img/tuomas_md.jpg"/>
                <h1 class="about-me-title"><span class="about-me-title-prefix">~$</span>./Tuomas Katajist<span class="about-me-title-o about-me-title-o-js" id="title-o">o</span></h1>
                <div class="about-me-list">
                    <h2 onclick="listClick(0)" class="about-me-list-title">- {{ .Params.aboutTitle }} </h2>
                    <div class="about-me-list-container">
                        <div class="about-me-list-text">
                            {{ .Params.about }}
                        </div>
                    </div>
                </div>
                <div class="about-me-list">
                    <h2 onclick="listClick(1)" class="about-me-list-title">- Yhteystiedot</h2>
                    <div class="about-me-list-container" id="about">
                        <p class="about-me-list-text">
                            <ul class="contact-list">
                                <li class="contact-list-item">Email = <a href="mailto:t@ktj.st">t@ktj.st</a></li>
                                <li class="contact-list-item">Puhelin = +358440890044</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="about-me-list">
                    <h2 class="about-me-list-title" onclick="listClick(2)">- {{ .Params.projectsTitle }}</h2>
                    <div class="about-me-list-container" >
                        {{ range .Params.projects }}
                        <div class="project-container">
                            <h1 class="project-title">{{ .projTitle }}</h1>
                            <p class="project-desc">{{ .projDesc }}</p>
                            <div class="proj-links">
                                <a href="{{ .projLink }}" class="project-link project-list-link"><i class="fas fa-globe-americas"></i> Linkki projektiin</a>
                                <a href="{{ .projCode }}" class="project-code project-list-link"><i class="fab fa-github"></i> Linkki koodiin</a>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>

            </div>
            <div class="blog-posts">
                {{ range .Pages }}
                <div class="blog-post">
                    <h1 class="post-title">{{ .Title }}</h1 >
                    <h2 class="blog-post-date">{{ .Date.Format "January 2006" }}</h2>
                    <p class="post-summary">{{ .Params.description }}</p><br>
                    <a class="post-link" href="{{ .Permalink }}"><i class="fas fa-book-open"></i> Lue postaus...</a>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="bottom-icons">
            <a aria-label="Linkdedin" class="linkedin-link" href="https://linkedin.com/in/katajisto"><i class="fab fa-linkedin"></i></a>
            <a aria-label="Github" class="github-link" href="https://github.com/katajisto"><i class="fab fa-github"></i></a>
            <a aria-label="Twitter" class="twitter-link" href="https://twitter.com/tuomaskatajisto"><i class="fab fa-twitter"></i></a>
        </div>
        <script src="/js/main.js"></script>
        <script src="/js/monthReplace.js"></script>
    </body>
</html>
