<!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <title>{{ .Params.Title}}</title>
  <meta name="description" content="{{ .Params.HTMLDescription }}" >
</head>
  <body>
    <div id="bodyDiv" class="project_frame">
      <div id="scroll" class="project_container">
        <h1 class="header">{{ .Params.Title}}</h1>
        <div class="text"><b id=small-description></b></div>
        <div class="text"><p>{{ .Params.SinglePageContent | markdownify }}<br><a href="../../#scroll">{{.Site.Params.back}}</a></p></div>
      </div>
    </div>
    <div id="bottomBar" class="bottomBar">
      <div class="bottomBar_frame">
      <a href="/" style="text-decoration: none"><h1 class="bottomBarText">Matias Järvenpää</h1></a>
      <p class="text">matias.jarvenpaa01@gmail.com</p>
      <p class="text">+358445746406</p>
    </div>
  </body>
</html>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@900&display=swap');
</style>
<script>
  var elmnt = document.getElementById("bodyDiv");
  elmnt.style.minHeight = "calc(100% - "+document.getElementById("bottomBar").offsetHeight +"px)";
  if(window.location.search == ""){
    document.getElementById("small-description").innerHTML = {{ .Params.Description | markdownify}} + "<br>";
  }
  var link = document.createElement('link');
  link.rel = 'canonical';
  link.href = "https://jarvenp.fi/";
  if("{{.Site.Language.Lang}}" == "en"){
    link.href = link.href.concat("en/");
  }
  link.href = link.href.concat("{{ .File.Dir}}{{.File.TranslationBaseName}}");
  document.getElementsByTagName('head')[0].appendChild(link);
</script>
<script src="/js/imageLoad.js"></script>
