<!DOCTYPE html>
<html lang="fi">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <title>Matias Järvenpää</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">
</head>
  <body>
    <div id="scroll" class="project_container">
      <h1 class="header">{{ .Title}}</h1>
      <p class="text">{{ .Body  | markdownify }}</p>
      <h1 class="header">Yhteystiedot</h1>
      <div class="contactInfo">
        <p>Puhelinnumero: +358445746406</p>
        <p>Sähköposti: matias.jarvenpaa01@gmail.com</p>
      </div>
    </div>
  </body>
</html>
